<div class="gallery-item">
    <img src="image/image-1.jpeg" alt="Hackathon Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-2.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-3.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-4.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-6.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-7.jpeg" alt="Hackathon Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-8.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-9.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-10.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-11.jpeg" alt="Food Court Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-12.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-13.jpeg" alt="Hackathon Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-14.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-15.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-16.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-17.jpeg" alt="Food Court Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-18.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-19.jpeg" alt="Hackathon Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-20.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-21.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-22.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-23.jpeg" alt="Food Court Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-24.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-25.jpeg" alt="Hackathon Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-26.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-27.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-28.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-29.jpeg" alt="Food Court Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-30.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-31.jpeg" alt="Hackathon Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-32.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-33.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-34.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-35.jpeg" alt="Food Court Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-36.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-37.jpeg" alt="Dance Performance Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-38.jpeg" alt="Gaming Arena Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-39.jpeg" alt="Concert Stage Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-40.jpeg" alt="Food Court Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-41.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>
<div class="gallery-item">
    <img src="image/image-42.jpeg" alt="Arts Showcase Frame">
    <div class="gallery-overlay"><h4>Navchetna 2025</h4></div>
</div>